/* WARNING SCREEN*/

@keyframes bgappear {
    0%{background-color: transparent}
    65%{background-color: transparent}
    80%{background-color: rgba(255,0,0,0.5);}
    100%{background-color: rgba(255,0,0,0.2);}
}

@keyframes bgdisappear {
    0%{background-color: rgba(255,0,0,0.2);}
    5%{background-color: rgba(255,0,0,0.5);}
    50%{background-color: transparent}
    100%{background-color: transparent}
}

@keyframes wbappear {
    0%{
        opacity: 0;
        transform: scale(2,2) rotate3d(1,1,1,60deg);
    }
    20%{
        opacity: 0.2;
        transform: scale(2,2) rotate3d(1,1,1,48deg);
    }
    100%{
        opacity: 1;
        transform: scale(1,1) rotate3d(1,1,1,0deg);
    }
}
@keyframes wbdisappear {

    0%{
        opacity: 1;
        transform: scale(1,1);
    }
    100%{
        opacity: 0;
        transform: scale(0,0);
    }
}

@keyframes wbpulse {
    0%{box-shadow: 0 0 10px 0 #bb0000;}
    66%{box-shadow: 0 0 100px 0 #bb0000;}
    100%{box-shadow: 0 0 10px 0 #bb0000;}
}

@keyframes textblink {
    0%{opacity: 0}
    1%{opacity: 1}
    50%{opacity: 1}
    51%{opacity: 0}
    100%{opacity: 0}
}

/* COMPTE A REBOURS */

@keyframes countdownappear {
    0%{background-color: rgba(32,214,44,0.4);}
    100%{background-color: transparent}
}

@keyframes infinirotation {
    0%{transform: rotateY(90deg)}
    25%{transform: rotateY(0deg)}
    50%{transform: rotateY(-90deg)}
    75%{transform: rotateY(0deg)}
    100%{transform: rotateY(90deg)}
}
@keyframes countdowndisappear {
    0%{opacity: 1; transform: scale(1,1);}
    50%{opacity: 0; transform: scale(0,0);}
    100%{opacity: 0; transform: scale(0,0);}
}

/* WINNER */

@keyframes whiteshock {
    0%{background-color: #FFFFFF;}
    100%{background-color: transparent}
}

@keyframes whiterise {
    0%{background-color: transparent}
    100%{background-color: #FFFFFF;}
}

@keyframes scaleout {

    0%{transform: scale(1,1);}
    100%{transform: scale(1.2,1.2);}
}


@keyframes modalappear {

    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* Loader animation*/


@keyframes sparkleLoad-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(0deg) scale(0);
    }
}
@keyframes sparkleLoad-2 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(60deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(60deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(60deg) scale(0);
    }
}
@keyframes sparkleLoad-3 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(120deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(120deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(120deg) scale(0);
    }
}
@keyframes sparkleLoad-4 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(180deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg) scale(0);
    }
}
@keyframes sparkleLoad-5 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(240deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(240deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(240deg) scale(0);
    }
}
@keyframes sparkleLoad-6 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(300deg) scale(0);
    }
    25%,
    75% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(300deg) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(300deg) scale(0);
    }
}