/*
Created by Simple Silence for Anoss.
Chicken from Orion, man, one day, you will know.
*/

@font-face {
    font-family: 'pill_gothic_300mgbold';
    src: url('/fonts/pillgothic300mg-bold.eot');
    src: url('/fonts/pillgothic300mg-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pillgothic300mg-bold.woff2') format('woff2'),
    url('/fonts/pillgothic300mg-bold.woff') format('woff'),
    url('/fonts/pillgothic300mg-bold.ttf') format('truetype'),
    url('/fonts/pillgothic300mg-bold.svg#pill_gothic_300mgbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'pill_gothic_600mgregular';
    src: url('/fonts/pillgothic600mg-regular.eot');
    src: url('/fonts/pillgothic600mg-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pillgothic600mg-regular.woff2') format('woff2'),
    url('/fonts/pillgothic600mg-regular.woff') format('woff'),
    url('/fonts/pillgothic600mg-regular.ttf') format('truetype'),
    url('/fonts/pillgothic600mg-regular.svg#pill_gothic_600mgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background: url("/img/bg.jpg") no-repeat center top fixed;
    font-family: pill_gothic_600mgregular,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

p{
    margin: 0 0 0 0;
}
a, a:hover, a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

h1,h2,h3,h4{
    font-family: pill_gothic_300mgbold, sans-serif;
}

h1{
    font-size: 88px;
    line-height: 80px;
    margin:0;
    text-transform: uppercase;
}

h2{
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding: 13px 0 9px 2%;
    margin: 100px 0 -10px 0;
    width: 98%;
    background-color: rgba(20, 186, 255, 0.6);
    position: relative;
    top: -46px;
}

.viewer{

}

.screen{
    position: absolute;
}

#animation-wrap{
	overflow: hidden;
}


.wrap{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 0 0 0;
}

.inner-wrap{
    margin: 0;
}

.inner-wrap p{

}

header{
    width: 100%;
    margin: 0 0 40px 0;
}

.logo{
    position: relative;
    margin-right: -141px;
    left: -189px;
}

.brand{
    display: inline-block;
    position: relative;
    left: -6px;

}

.content-box{
    background-color: rgba(20,20,20,0.9);
    min-height: 200px;
    margin-top: 0;
    margin-bottom: 120px;
    padding-bottom: 35px;
}


/* FORM Styling for Orion style */

#chicken-form{
    width: 720px;
    padding: 0 35px;
}

input[type="text"], input[type="number"]{
    height: 42px;
    background: rgba(255,255,255,0.05);
    border: solid 1px rgba(255,255,255,0.3);
    padding: 0 10px 0 10px;
    font-family: pill_gothic_600mgregular, sans serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 35px 0 0;
}


button, .button{
    background: rgba(82, 197, 46, 0.33);
    border: solid 1px rgba(255,255,255,0.4);
    font-family: pill_gothic_600mgregular, sans serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 23px 7px 23px;
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
    transition: all 0.3s ease-in-out;

}

#chickenadd{
    position: relative;
    top: 8px;
}

button:hover, .button:hover{
    background: rgba(124, 255, 122, 0.62);
    border: solid 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    transition: all 0.3s ease-in-out;

}

/* Chicken List style */

#chickenlist{
    margin: 35px 0 0 0;
    padding: 0 35px;
}

.chicken-row{
    padding: 10px 0 7px 0;
    margin-bottom: 4px;
    background-color: rgba(255,255,255,0.1);
    animation: fadeIn .2s linear forwards;
}

.chicken-row p{
    display: inline-block;
    height: 18px;
    width: 392px;
}

.chicken-row img{
    position: relative;
    top: 1px;
    margin-left: 13px;
    opacity: 0.5;
}

.delete-chicken{
    width: 16px;
    margin-left: 3px!important;
}

.delete-chicken:hover{
    opacity: 1!important;
}

#chicken-tip{
    width: 130px;
}
.chicken-sep{
    padding: 13px 0 8px 0;
    margin: 0 10px 0 10px;
    position: relative;
    border-left: solid 1px rgba(255,255,255,0.2);
}

#tirDePoulet{
    margin: 30px 0 0 0;
    width: 144px;
    text-align: center;
    position: relative;
    left: 489px;
    background-color: rgba(20, 186, 255, 0.2);
    padding: 10px 0 3px 0;
    transform: skew(-10deg);
    border: solid 1px transparent;
    border-right: solid 10px rgba(255,255,255,0.4);
    transition: all 0.3s ease-in-out;
}

#tirDePoulet img{
    padding: 0;
    width: 24px;
    transform: skew(10deg);
    transition: all 0.3s ease-in-out ;
}

#tirDePoulet:hover{
    background-color: rgba(20, 186, 255, 0.6);
    border: solid 1px rgba(255,255,255,1);
    border-right: solid 10px rgba(255,255,255,1);
    transform: skew(-20deg);
    transition: all 0.3s ease-in-out ;

}

#tirDePoulet:hover img{
    padding: 0;
    width: 24px;
    transform: skew(20deg);
    transition: all 0.3s ease-in-out ;
}

/* Pool result styling */

.red-alert{
    background: rgba(255,0,0,0.2);
    height: 100%;
    width: 100%;
    animation: bgappear 1125ms ease-in, bgdisappear 1000ms ease-in 5000ms;

}


.warning-block{
    max-width: 800px;
    border: none;
    border-left: solid 100px rgba(255,0,0,0.6);
    background-color: rgba(20,20,20,0.8);
    box-shadow: 0 0 10px 0px #bb0000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 120px 30px;
    position: relative;
    top: 150px;
    animation: wbappear 1125ms ease-in, wbpulse 1500ms linear 1000ms 4, wbdisappear 2000ms ease-in 5000ms;
 }

.warning-block h1{
    color: #ff0000;
    text-transform: uppercase;
    font-family: pill_gothic_300mgbold, sans-serif;
    font-size: 8em;
    margin: 0 0 15px 0;
    animation: textblink 1000ms linear 0ms infinite;
}

.warning-block p{
    color: #ffffff;
    text-transform: uppercase;
    font-family: pill_gothic_300mgbold, sans-serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------- */

.countdown{
    height: 100%;
    width: 100%;
    text-align: center;
    animation: countdownappear 400ms ease-out, countdowndisappear 1s ease-in 6500ms;
}

.countdown img {
    margin-top: 48px;
    animation: infinirotation 4000ms linear 0ms infinite;
}

.countdown h2 {
    background-color: transparent;
    margin: 46px 0 0 16px;
    padding: 0 0 0 0;
    position: inherit;

}
.countdown p {
    font-family: pill_gothic_300mgbold, sans-serif;
    font-size: 400px;
    margin: 225px 0 0 0;
}

/*--------------*/

#shocker{
    height: 100%;
    width: 100%;
    animation: whiteshock 400ms ease-out 1000ms, whiterise 3000ms ease-in 1000ms, whiteshock 400ms ease-out 4000ms;
}

.winnerwrap{
    position: relative;
    top: 150px;
    background-color: rgba(20,20,20,0.6);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 120px rgba(63,188,237,0.6);
    padding: 100px 0;
    text-align: center;
    animation: wbappear 1000ms ease-in, whiteshock 400ms ease-out 1000ms, scaleout 17500ms linear 4000ms;
}

.winnerwrap img{
    float: left;
    margin-left: -100px;
    margin-top: -70px;
}

.winnerwrap h1{
    position: relative;
    padding: 50px 50px 39px 50px;
}

/*-----------*/

.modal-wrap{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    transition: All 400ms ease-in-out;
    opacity: 0;
}

.modal-block{
    display: block;
    position: relative;
    top: 150px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px 70px 35px;
    background-color: rgba(0,0,0,1);
    z-index: 1001;
    border-left: solid 100px rgba(255, 140, 0, 0.78);
}

.modal-block p {
    margin-bottom: 12px;
    line-height: 24px;
}

div#close-modal {
    position: absolute;
    bottom: 3px;
    right: 35px;
    margin-bottom: 35px;
}